.title-calculator {
  font-size: 80px;
  text-align: center;
}

.container-calculator {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.button-number {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
  background-color: #0c0014;
  color: #f9ebff;
  font-size: 25px;
}

.equation {
  color: #f9ebff;
}

.result {
  color: #f9ebff;
}
