@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap");

body {
  background-color: #0c0014;
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
